*{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

body{
    margin: 0;
    background-color: #25369b;
}


@keyframes anim{
    0% {background-color: #ff0;} 
   25% {background-color: rgb(0, 26, 255);} 
   50% {background-color: #000;} 
   75% {background-color: rgb(255, 30, 0);} 
  100% {background-color: rgb(253, 253, 249);} 

  0% {color: rgb(19, 209, 19);} 
  25% {color: rgb(255, 30, 0);} 
  50% {color: rgb(253, 253, 249)} 
  75% {color: rgb(0, 26, 255);} 
 100% {color: #000;} 
}
h2 {
  animation-name: anim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  color:  #effaf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center ;
    border: none;
    border-radius: 5px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.color_changers{

    display: grid;
    padding: 15px;
    margin: auto;
    grid-template-columns: repeat(1,150px);
    grid-template-rows: 160px repeat(2,100px);
    text-align: center;
}

input{
    margin: 5px;
    border-radius: 5px;
    border: none;
    outline:none ;  
    background-color:#25369b ;
}

input:hover{
   cursor: pointer;
   background-color: white ;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: 160px repeat(5,75px);
    background-color: #000000;
    padding: 15px;
    border-radius: 32px;
    margin: auto;
}

button{
    cursor: pointer;
    margin: 5px ;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #1f2020;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #0d0e0d1f;
}

button:active {
    background-color: #1fecec;
}

button:focus{
    outline:none;
}

.col-2{
    grid-column: span 2;
}

.display{
    grid-column: 1/-1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
    cursor: pointer;
}

#actual_value{
font-size: 1.5em
}

#before_value{
font-size: 2em;
}

.historial{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2,75px);
    grid-template-rows: 160px repeat(2,75px);
    background-color: #bbb7b7e3;
    padding: 20px;
    border-radius: 20px;
    border: none;
    margin: auto;
   
}

.anotaciones{
    font-size: 15px;
    background-color: #faf2f2;
    color: black;
}

span{
width: auto;
font-size: 25px;
position: absolute;
top: 150px;
right: 82px;

}